.dashboard-header {
    width: 100%;
    height: 125px;
}

.header-flex {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
}

.header-flex-user {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
    float: left;
}

.dashboard-icon {
    max-width: 80px;
    align-self: center;
}

.dashboard-user-icon {
    border-radius: 5px;
    margin-left: 5px;
}

.user-name-info {
    font-size: 24px;
}

@media (max-width: 1024px) {
    .user-name-info {
        font-size: 18px;
    }
    
    .dashboard-icon {
        max-width: 60px;
        align-self: center;
}
}

.user-icons {
    .fa {
        font-size: 18px;
    }
    
    .fa-envelope {
        &:after {
            content: '2';
            background-color: #e9157c;
            font-family: $font-family;
            font-size: 14px;
            padding: 1px 6px;
            border-radius: 50px;
            bottom: 10px;
            right: 5px;
            position: relative;
        }
    }
    
    .fa-cog {
        font-size: 20px;
    }
}

.nav-menu {

    
    li {
        text-align: center;
        font-size: 12px;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        height: 125px;
        max-width: 80px;
        margin-top: -15px;
        margin-right: 0;
    }
    
    .active {
        background-color: #000;
    }
    
    .fa {
        display: block;
        font-size: 36px;
        margin-bottom: 10px;
    }
}

.navigation {
    
    text-align: right;
    div {
        display: inline-block;
    }
    
    .fa {
        font-size: 26px;
        padding-top: 45px;
    }
}

.between {
    background-color: $seledine;
    width: 2px;
    height: 65px;
    position: relative;
    top: 25px;
    margin-left: 7px;
    margin-right: 7px;
}

.logout {
    .fa {
        color: $darkpink;
    }
}

.finance-header {
    button {
        display: inline-block;
        color: $white;
        font-size: 14px;
        font-family: $font-family;
        text-transform: uppercase;
        background-color: $blue;
        font-weight: 300;
        padding: 8px 25px;
    }
    
    p {
        display: inline-block;
        color: $black;
    }
    
    h1 {
        color: $black;
        font-size: 50px; 
        line-height: 30px;
    }
}

.finance-header-flex {
    margin-top: 10%;
    text-align: right;
    
    p {
        margin-right: 10px;
    }
}

.finance-details {
    h2 {
        font-size: 28px;
        font-weight: 300;
        font-family: $font-family;
    }
    
    p {
        color: $black;
    }
}

.finance-sum {
    display: inline-block;
}

.products-icons {
    display: block;
    width: 56px;
    float: left;
}

main {
    background-color: $gray;
}